
CREATE TABLE [dbo].[AADDRESS](
	[ADR_ID] [char](5) NOT NULL,
	[ADRTYPE] [int] NOT NULL,
	[SEC_ID] [char](5) NULL,
	[DISTANCE] [int] NULL,
	[P_LOCATION] [char](10) NOT NULL,
	[IS_DISPLAY] [int] NOT NULL,
	[ZOOM_LV] [int] NOT NULL,
	[PORT1_ID] [char](10) NULL,
	[P1_LD_VH_TYPE] [int] NOT NULL,
	[P1_ULD_VH_TYPE] [int] NOT NULL,
	[PORT2_ID] [char](10) NULL,
	[P2_LD_VH_TYPE] [int] NOT NULL,
	[P2_ULD_VH_TYPE] [int] NOT NULL,
	[NODE_ID] [char](5) NULL,
	[ADR1_DIS] [int] NOT NULL,
	[ADR2_DIS] [int] NOT NULL,
 CONSTRAINT [PK_AADDRESS_1] PRIMARY KEY CLUSTERED 
(
	[ADR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AADDRESS_DATA]    Script Date: 2019/9/29 上午 11:25:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AADDRESS_DATA](
	[ADR_ID] [char](5) NOT NULL,
	[VEHOCLE_ID] [char](5) NOT NULL,
	[RESOLUTION] [int] NOT NULL,
	[LOACTION] [int] NOT NULL,
 CONSTRAINT [PK_AADDRESS_DATA] PRIMARY KEY CLUSTERED 
(
	[ADR_ID] ASC,
	[VEHOCLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ABASEDATA_VER]    Script Date: 2019/9/29 上午 11:25:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ABASEDATA_VER](
	[VER_TYPE] [int] NOT NULL,
	[SUB_VER] [char](4) NOT NULL,
	[REL_STAUS] [int] NULL,
	[ADD_TIME] [smalldatetime] NULL,
	[ADD_USER] [char](10) NULL,
	[UPD_TIME] [smalldatetime] NULL,
	[UPD_USER] [char](10) NULL,
	[MEMO] [nchar](500) NULL,
 CONSTRAINT [PK_ABASEDATA_VER] PRIMARY KEY CLUSTERED 
(
	[VER_TYPE] ASC,
	[SUB_VER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ABLOCKZONEDETAIL]    Script Date: 2019/9/29 上午 11:25:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ABLOCKZONEDETAIL](
	[ENTRY_SEC_ID] [nchar](5) NOT NULL,
	[SEC_ID] [nchar](5) NOT NULL,
 CONSTRAINT [PK_ABLOCKZONEDETAIL] PRIMARY KEY CLUSTERED 
(
	[SEC_ID] ASC,
	[ENTRY_SEC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ABLOCKZONEMASTER]    Script Date: 2019/9/29 上午 11:25:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ABLOCKZONEMASTER](
	[ENTRY_SEC_ID] [char](5) NOT NULL,
	[BLOCK_ZONE_TYPE] [int] NOT NULL,
	[LEAVE_ADR_ID_1] [char](5) NOT NULL,
	[LEAVE_ADR_ID_2] [char](5) NOT NULL,
 CONSTRAINT [PK_ABLOCKZONEMASTER] PRIMARY KEY CLUSTERED 
(
	[ENTRY_SEC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ABUFFER]    Script Date: 2019/9/29 上午 11:25:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ABUFFER](
	[BUFF_ID] [char](15) NOT NULL,
	[UNIT_NUM] [int] NOT NULL,
	[EQPT_ID] [char](15) NOT NULL,
	[CAPACITY] [int] NOT NULL,
 CONSTRAINT [PK_ABUFFER] PRIMARY KEY CLUSTERED 
(
	[BUFF_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ACASSETTE]    Script Date: 2019/9/29 上午 11:25:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACASSETTE](
	[CST_ID] [char](20) NOT NULL,
	[CST_STAT] [int] NOT NULL,
	[SHT_CNT] [int] NOT NULL,
	[PORT_ID] [char](15) NOT NULL,
	[CST_CODE] [char](1) NOT NULL,
	[LOT_ID] [char](20) NULL,
	[SLOT_MAP] [char](20) NOT NULL,
	[SLOT_SEL] [char](20) NULL,
	[END_STAT] [char](1) NOT NULL,
	[CRATE_ID] [char](20) NULL,
	[CSTLOGON_TIME] [datetime2](7) NULL,
	[CSTLOGOff_TIME] [datetime2](7) NULL,
	[ISLOTSTART] [char](1) NOT NULL,
	[CSTPROCSTART_TIME] [datetime2](7) NULL,
	[CSTPROCEND_TIME] [datetime2](7) NULL,
	[ROUNTINMODE] [char](1) NULL,
 CONSTRAINT [PK_ACASSETTE] PRIMARY KEY CLUSTERED 
(
	[CST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ACEID]    Script Date: 2019/9/29 上午 11:25:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACEID](
	[CEID] [char](3) NOT NULL,
	[RPTID] [char](3) NOT NULL,
	[ORDER_NUM] [int] NOT NULL,
	[NAME] [char](20) NULL,
	[UPD_TIME] [datetime2](7) NULL,
 CONSTRAINT [PK_ACEID] PRIMARY KEY CLUSTERED 
(
	[CEID] ASC,
	[RPTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ACMD_MCS]    Script Date: 2019/9/29 上午 11:25:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACMD_MCS](
	[CMD_ID] [char](64) NOT NULL,
	[CARRIER_ID] [char](40) NOT NULL,
	[TRANSFERSTATE] [int] NOT NULL,
	[COMMANDSTATE] [int] NOT NULL,
	[HOSTSOURCE] [char](64) NULL,
	[HOSTDESTINATION] [char](64) NOT NULL,
	[PRIORITY] [int] NOT NULL,
	[CHECKCODE] [char](2) NOT NULL,
	[PAUSEFLAG] [char](1) NOT NULL,
	[CMD_INSER_TIME] [datetime2](7) NOT NULL,
	[CMD_START_TIME] [datetime2](7) NULL,
	[CMD_FINISH_TIME] [datetime2](7) NULL,
	[TIME_PRIORITY] [int] NOT NULL,
	[PORT_PRIORITY] [int] NOT NULL,
	[REPLACE] [int] NOT NULL,
 CONSTRAINT [PK_ACMD_MCS] PRIMARY KEY CLUSTERED 
(
	[CMD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ACMD_OHTC]    Script Date: 2019/9/29 上午 11:25:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACMD_OHTC](
	[CMD_ID] [char](64) NOT NULL,
	[VH_ID] [char](5) NOT NULL,
	[CARRIER_ID] [char](40) NULL,
	[CMD_ID_MCS] [char](64) NULL,
	[CMD_TPYE] [int] NOT NULL,
	[SOURCE] [char](64) NULL,
	[DESTINATION] [char](64) NULL,
	[PRIORITY] [int] NOT NULL,
	[CMD_START_TIME] [datetime2](7) NULL,
	[CMD_END_TIME] [datetime2](7) NULL,
	[CMD_STAUS] [int] NOT NULL,
	[CMD_PROGRESS] [int] NOT NULL,
	[INTERRUPTED_REASON] [int] NULL,
	[ESTIMATED_TIME] [int] NOT NULL,
	[ESTIMATED_EXCESS_TIME] [int] NOT NULL,
	[REAL_CMP_TIME] [int] NULL,
 CONSTRAINT [PK_ACMD_OHTC] PRIMARY KEY CLUSTERED 
(
	[CMD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ACMD_OHTC_DETAIL]    Script Date: 2019/9/29 上午 11:25:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACMD_OHTC_DETAIL](
	[CMD_ID] [char](64) NOT NULL,
	[SEQ_NO] [int] NOT NULL,
	[ADD_ID] [char](5) NOT NULL,
	[ADD_ENTRY_TIME] [datetime2](7) NULL,
	[SEC_ID] [char](10) NOT NULL,
	[SEG_NUM] [char](10) NOT NULL,
	[SEC_ENTRY_TIME] [datetime2](7) NULL,
	[SEC_LEAVE_TIME] [datetime2](7) NULL,
	[LOAD_START_TIME] [datetime2](7) NULL,
	[LOAD_END_TIME] [datetime2](7) NULL,
	[UNLOAD_START_TIME] [datetime2](7) NULL,
	[UNLOAD_END_TIME] [datetime2](7) NULL,
	[ESTIMATED_TIME] [int] NOT NULL,
	[IS_PASS] [bit] NOT NULL,
 CONSTRAINT [PK_ACMD_OHTC_DETAIL] PRIMARY KEY CLUSTERED 
(
	[CMD_ID] ASC,
	[SEQ_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ACRATE]    Script Date: 2019/9/29 上午 11:25:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACRATE](
	[CRATE_ID] [char](20) NOT NULL,
	[MAKER] [char](20) NULL,
 CONSTRAINT [PK_ACRATE] PRIMARY KEY CLUSTERED 
(
	[CRATE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ACYCLEZONEDETAIL]    Script Date: 2019/9/29 上午 11:25:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACYCLEZONEDETAIL](
	[CYCLE_ZONE_ID] [char](10) NOT NULL,
	[SEC_ID] [char](10) NOT NULL,
	[SEC_ORDER] [int] NOT NULL,
 CONSTRAINT [PK_ACYCLEZONEDETAIL] PRIMARY KEY CLUSTERED 
(
	[CYCLE_ZONE_ID] ASC,
	[SEC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ACYCLEZONEMASTER]    Script Date: 2019/9/29 上午 11:25:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACYCLEZONEMASTER](
	[CYCLE_TYPE_ID] [char](10) NOT NULL,
	[CYCLE_ZONE_ID] [char](10) NOT NULL,
	[ENTRY_ADR_ID] [char](5) NOT NULL,
	[TOTAL_BORDER] [int] NOT NULL,
	[VEHICLE_TYPE] [int] NOT NULL,
 CONSTRAINT [PK_ACYCLEZONEMASTER] PRIMARY KEY CLUSTERED 
(
	[CYCLE_TYPE_ID] ASC,
	[CYCLE_ZONE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ACYCLEZONETYPE]    Script Date: 2019/9/29 上午 11:25:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACYCLEZONETYPE](
	[CYCLE_TYPE_ID] [char](10) NOT NULL,
	[PROD_ID] [char](10) NULL,
	[TOTAL_BORDER] [int] NOT NULL,
	[IS_DEFAULT] [int] NOT NULL,
 CONSTRAINT [PK_ACYCLEZONETYPE] PRIMARY KEY CLUSTERED 
(
	[CYCLE_TYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AECDATAMAP]    Script Date: 2019/9/29 上午 11:25:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AECDATAMAP](
	[ECID] [char](4) NOT NULL,
	[EQPT_REAL_ID] [char](15) NULL,
	[ECNAME] [char](40) NULL,
	[ECMIN] [char](10) NULL,
	[ECMAX] [char](10) NULL,
	[ECV] [char](10) NULL,
 CONSTRAINT [PK_AECDATAMAP] PRIMARY KEY CLUSTERED 
(
	[ECID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AEQPT]    Script Date: 2019/9/29 上午 11:25:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AEQPT](
	[EQPT_ID] [char](15) NOT NULL,
	[NODE_ID] [char](15) NOT NULL,
	[CIM_MODE] [char](1) NOT NULL,
	[OPER_MODE] [char](1) NOT NULL,
	[INLINE_MODE] [char](1) NOT NULL,
	[EQPT_STAT] [char](1) NOT NULL,
	[EQPT_PROC_STAT] [char](1) NOT NULL,
	[CR_RECIPE] [char](33) NULL,
	[MAX_SHT_CNT] [int] NULL,
	[MIN_SHT_CNT] [int] NULL,
	[ALARM_STAT] [char](1) NULL,
	[WARN_STAT] [char](1) NULL,
 CONSTRAINT [PK_AEQPT] PRIMARY KEY CLUSTERED 
(
	[EQPT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AEVENTRPTCOND]    Script Date: 2019/9/29 上午 11:25:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AEVENTRPTCOND](
	[CEID] [char](3) NOT NULL,
	[ENABLE_FLG] [char](1) NOT NULL,
 CONSTRAINT [PK_AEVENTRPTCOND] PRIMARY KEY CLUSTERED 
(
	[CEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AFLOW_REL]    Script Date: 2019/9/29 上午 11:25:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AFLOW_REL](
	[UPSTREAM_ID] [char](10) NOT NULL,
	[DOWNSTREAM_ID] [char](10) NOT NULL,
	[FR_ID] [char](10) NOT NULL,
	[REL_TYPE] [char](1) NOT NULL,
 CONSTRAINT [PK_AFLOW_REL] PRIMARY KEY CLUSTERED 
(
	[UPSTREAM_ID] ASC,
	[DOWNSTREAM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AGROUPRAILS]    Script Date: 2019/9/29 上午 11:25:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AGROUPRAILS](
	[SECTION_ID] [char](5) NOT NULL,
	[RAIL_ID] [char](5) NOT NULL,
	[RAIL_NO] [int] NULL,
	[DIR] [int] NOT NULL,
 CONSTRAINT [PK_AGROUPRAILS] PRIMARY KEY CLUSTERED 
(
	[SECTION_ID] ASC,
	[RAIL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AHIDZONEDETAIL]    Script Date: 2019/9/29 上午 11:25:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AHIDZONEDETAIL](
	[ENTRY_SEC_ID] [char](5) NOT NULL,
	[SEC_ID] [char](5) NOT NULL,
 CONSTRAINT [PK_AHIDZONEDETAIL] PRIMARY KEY CLUSTERED 
(
	[ENTRY_SEC_ID] ASC,
	[SEC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AHIDZONEMASTER]    Script Date: 2019/9/29 上午 11:25:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AHIDZONEMASTER](
	[ENTRY_SEC_ID] [char](5) NOT NULL,
	[LEAVE_ADR_ID_1] [char](5) NOT NULL,
	[LEAVE_ADR_ID_2] [char](5) NULL,
	[MAX_LOAD_COUNT] [int] NOT NULL,
 CONSTRAINT [PK_AHIDZONEMASTER] PRIMARY KEY CLUSTERED 
(
	[ENTRY_SEC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AHIDZONEQUEUE]    Script Date: 2019/9/29 上午 11:25:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AHIDZONEQUEUE](
	[ENTRY_SEC_ID] [char](5) NOT NULL,
	[VEHICLE_ID] [char](10) NOT NULL,
	[REQ_TIME] [smalldatetime] NOT NULL,
	[BLOCK_TIME] [smalldatetime] NULL,
	[THROU_TIME] [smalldatetime] NULL,
	[RELEASE_TIME] [smalldatetime] NULL,
	[STATUS] [int] NOT NULL,
	[IS_PASUE] [bit] NOT NULL,
 CONSTRAINT [PK_AHIDZONEQUEUE] PRIMARY KEY CLUSTERED 
(
	[ENTRY_SEC_ID] ASC,
	[VEHICLE_ID] ASC,
	[REQ_TIME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ALARM]    Script Date: 2019/9/29 上午 11:25:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ALARM](
	[EQPT_ID] [char](15) NOT NULL,
	[RPT_DATE_TIME] [datetime2](7) NOT NULL,
	[ALAM_CODE] [char](10) NOT NULL,
	[ALAM_LVL] [int] NOT NULL,
	[ALAM_STAT] [int] NOT NULL,
	[ALAM_DESC] [char](80) NULL,
	[CLEAR_DATE_TIME] [datetime2](7) NULL,
 CONSTRAINT [PK_ALARM_1] PRIMARY KEY CLUSTERED 
(
	[EQPT_ID] ASC,
	[RPT_DATE_TIME] ASC,
	[ALAM_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ALARMRPTCOND]    Script Date: 2019/9/29 上午 11:25:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ALARMRPTCOND](
	[EQPT_ID] [char](15) NOT NULL,
	[ALAM_CODE] [char](10) NOT NULL,
	[ENABLE_FLG] [char](1) NOT NULL,
 CONSTRAINT [PK_ALARMRPTCOND] PRIMARY KEY CLUSTERED 
(
	[EQPT_ID] ASC,
	[ALAM_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ALINE]    Script Date: 2019/9/29 上午 11:25:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ALINE](
	[LINE_ID] [char](15) NOT NULL,
	[HOST_MODE] [int] NOT NULL,
	[LINE_STAT] [int] NOT NULL,
 CONSTRAINT [PK_ALINE] PRIMARY KEY CLUSTERED 
(
	[LINE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ALOT]    Script Date: 2019/9/29 上午 11:25:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ALOT](
	[LOT_ID] [char](20) NOT NULL,
	[SHT_TYP] [char](1) NULL,
	[CST_OPER_MODE] [char](1) NOT NULL,
	[DUMMY_TYPE] [char](1) NOT NULL,
	[LOT_JUDGE] [char](1) NULL,
	[WORK_ORDER] [char](30) NULL,
	[PROC_STAT] [char](1) NULL,
	[LOT_START_PROC_TIME] [char](16) NULL,
	[LOT_END_PROC_TIME] [char](16) NULL,
	[PROC_SHT_CNT] [int] NULL,
 CONSTRAINT [PK_ALOT] PRIMARY KEY CLUSTERED 
(
	[LOT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AMAIN_VER]    Script Date: 2019/9/29 上午 11:25:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AMAIN_VER](
	[VER_YEAR] [char](4) NULL,
	[VER_MON] [char](2) NULL,
	[VER_DAY] [char](2) NULL,
	[VER_HOUR] [char](2) NULL,
	[VER_MIN] [char](2) NULL,
	[MAIN_VER] [char](4) NOT NULL,
	[VER_STAUS] [int] NULL,
	[REL_STAUS] [int] NULL,
	[MEMO] [nchar](500) NULL,
	[ADD_TIME] [datetime2](7) NULL,
	[ADD_USER] [char](10) NULL,
	[UPD_TIME] [datetime2](7) NULL,
	[UPD_USER] [char](10) NULL,
 CONSTRAINT [PK_AMAIN_VER] PRIMARY KEY CLUSTERED 
(
	[MAIN_VER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AMCSREPORTQUEUE]    Script Date: 2019/9/29 上午 11:25:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AMCSREPORTQUEUE](
	[ID] [uniqueidentifier] NOT NULL,
	[SERIALIZED_SXFY] [varbinary](max) NOT NULL,
	[INTER_TIME] [datetime2](7) NOT NULL,
	[REPORT_TIME] [datetime2](7) NULL,
	[STREAMFUNCTION_NAME] [varchar](50) NOT NULL,
	[STREAMFUNCTION_CEID] [char](5) NULL,
	[MCS_CMD_ID] [char](64) NULL,
	[VEHICLE_ID] [char](5) NULL,
	[PORT_ID] [char](64) NULL,
 CONSTRAINT [PK_AMCSREPORTQUEUE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ANETWORKQUALITY]    Script Date: 2019/9/29 上午 11:25:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ANETWORKQUALITY](
	[VEICLE_ID] [char](5) NOT NULL,
	[ADR_ID] [char](5) NOT NULL,
	[SEC_ID] [char](5) NOT NULL,
	[ACC_SEC_DIST] [int] NOT NULL,
	[UPD_TIME] [smalldatetime] NOT NULL,
	[PING_TIME] [bigint] NOT NULL,
 CONSTRAINT [PK_ANETWORKQUALITY] PRIMARY KEY CLUSTERED 
(
	[VEICLE_ID] ASC,
	[ADR_ID] ASC,
	[SEC_ID] ASC,
	[UPD_TIME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ANODE]    Script Date: 2019/9/29 上午 11:25:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ANODE](
	[NODE_ID] [char](15) NOT NULL,
	[ZONE_ID] [char](15) NOT NULL,
 CONSTRAINT [PK_ANODE] PRIMARY KEY CLUSTERED 
(
	[NODE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[APARKZONEDETAIL]    Script Date: 2019/9/29 上午 11:25:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APARKZONEDETAIL](
	[PARK_ZONE_ID] [char](10) NOT NULL,
	[ADR_ID] [char](5) NOT NULL,
	[PRIO] [int] NOT NULL,
	[CAR_ID] [char](5) NULL,
 CONSTRAINT [PK_APARKZONEDETAIL] PRIMARY KEY CLUSTERED 
(
	[PARK_ZONE_ID] ASC,
	[ADR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[APARKZONEMASTER]    Script Date: 2019/9/29 上午 11:25:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APARKZONEMASTER](
	[PARK_TYPE_ID] [char](10) NOT NULL,
	[PARK_ZONE_ID] [char](10) NOT NULL,
	[VEHICLE_TYPE] [int] NOT NULL,
	[ENTRY_ADR_ID] [char](5) NOT NULL,
	[TOTAL_BORDER] [int] NOT NULL,
	[LOWER_BORDER] [int] NOT NULL,
	[PARK_TYPE] [int] NOT NULL,
	[IS_ACTIVE] [bit] NOT NULL,
 CONSTRAINT [PK_APARKZONEMASTER] PRIMARY KEY CLUSTERED 
(
	[PARK_TYPE_ID] ASC,
	[PARK_ZONE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[APARKZONETYPE]    Script Date: 2019/9/29 上午 11:25:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APARKZONETYPE](
	[PARK_TYPE_ID] [char](10) NOT NULL,
	[PROD_ID] [char](10) NULL,
	[TOTAL_BORDER] [int] NOT NULL,
	[IS_DEFAULT] [int] NOT NULL,
 CONSTRAINT [PK_APARKZONETYPE] PRIMARY KEY CLUSTERED 
(
	[PARK_TYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[APOINT]    Script Date: 2019/9/29 上午 11:25:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APOINT](
	[POINT_ID] [char](5) NOT NULL,
	[ADR_ID] [char](5) NULL,
	[RAIL_ID] [char](5) NULL,
	[POINTTYPE] [int] NOT NULL,
	[LOCATIONX] [int] NOT NULL,
	[LOCATIONY] [int] NOT NULL,
	[HEIGHT] [float] NOT NULL,
	[WIDTH] [float] NOT NULL,
	[COLOR] [char](10) NOT NULL,
 CONSTRAINT [PK_APOINT] PRIMARY KEY CLUSTERED 
(
	[POINT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[APORT]    Script Date: 2019/9/29 上午 11:25:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APORT](
	[PORT_ID] [char](15) NOT NULL,
	[UNIT_NUM] [int] NOT NULL,
	[PORT_NUM] [int] NOT NULL,
	[EQPT_ID] [char](15) NOT NULL,
	[PORT_TYPE] [char](1) NOT NULL,
	[PORT_USE_TYPE] [char](2) NULL,
	[PORT_REAL_TYPE] [char](2) NULL,
	[CAPACITY] [int] NOT NULL,
	[PORT_STAT] [char](1) NOT NULL,
	[PORT_ENABLE] [char](1) NOT NULL,
	[TRS_MODE] [char](1) NULL,
 CONSTRAINT [PK_APORT] PRIMARY KEY CLUSTERED 
(
	[PORT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[APORT_POSITION_TEACHING_DATA]    Script Date: 2019/9/29 上午 11:25:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APORT_POSITION_TEACHING_DATA](
	[PORT_ID] [char](10) NOT NULL,
	[VH_ID] [char](10) NOT NULL,
	[POSITION_OFFSET] [int] NOT NULL,
	[RESOLUTION] [int] NOT NULL,
	[SUB_VER] [char](4) NOT NULL,
	[ADD_TIME] [datetime2](7) NULL,
	[ADD_USER] [char](10) NULL,
	[UPD_TIME] [datetime2](7) NULL,
	[UPD_USER] [char](10) NULL,
 CONSTRAINT [PK_APORT_POSITION_TEACHING_DATA] PRIMARY KEY CLUSTERED 
(
	[PORT_ID] ASC,
	[VH_ID] ASC,
	[SUB_VER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[APORTICON]    Script Date: 2019/9/29 上午 11:25:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APORTICON](
	[PORT_ID] [char](10) NOT NULL,
	[ADR_ID] [char](5) NOT NULL,
	[RAIL_ID] [char](5) NOT NULL,
	[ADRTYPE] [int] NOT NULL,
	[LOCATIONX] [int] NOT NULL,
	[LOCATIONY] [int] NOT NULL,
	[HEIGHT] [int] NOT NULL,
	[WIDTH] [int] NOT NULL,
	[COLOR] [char](10) NOT NULL,
 CONSTRAINT [PK_APORTICON] PRIMARY KEY CLUSTERED 
(
	[PORT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[APORTSTATION]    Script Date: 2019/9/29 上午 11:25:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APORTSTATION](
	[PORT_ID] [char](15) NOT NULL,
	[ADR_ID] [char](5) NULL,
	[LD_VH_TYPE] [int] NOT NULL,
	[ULD_VH_TYPE] [int] NOT NULL,
	[PRIORITY] [int] NOT NULL,
	[PORT_TYPE] [int] NOT NULL,
	[PORT_STATUS] [int] NOT NULL,
	[PORT_DIR] [int] NOT NULL,
	[PORT_SERVICE_STATUS] [int] NOT NULL,
 CONSTRAINT [PK_APORTSTATION] PRIMARY KEY CLUSTERED 
(
	[PORT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ARAIL]    Script Date: 2019/9/29 上午 11:25:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ARAIL](
	[RAIL_ID] [char](5) NOT NULL,
	[RAILTYPE] [int] NOT NULL,
	[LOCATIONX] [int] NOT NULL,
	[LOCATIONY] [int] NOT NULL,
	[WIDTH] [float] NOT NULL,
	[LENGTH] [float] NOT NULL,
	[COLOR] [char](10) NULL,
 CONSTRAINT [PK_ARAIL] PRIMARY KEY CLUSTERED 
(
	[RAIL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ARPTID]    Script Date: 2019/9/29 上午 11:25:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ARPTID](
	[RPTID] [char](3) NOT NULL,
	[VID] [char](3) NOT NULL,
	[ORDER_NUM] [int] NOT NULL,
	[NAME] [char](20) NULL,
	[UPD_TIME] [smalldatetime] NULL,
 CONSTRAINT [PK_ARPTID] PRIMARY KEY CLUSTERED 
(
	[RPTID] ASC,
	[VID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ASECTION]    Script Date: 2019/9/29 上午 11:25:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ASECTION](
	[SEC_ID] [char](5) NOT NULL,
	[SEG_ORDER_NUM] [int] NOT NULL,
	[SEG_NUM] [char](3) NULL,
	[FROM_ADR_ID] [char](5) NOT NULL,
	[TO_ADR_ID] [char](5) NOT NULL,
	[SEC_DIS] [float] NOT NULL,
	[SEC_SPD] [float] NULL,
	[SEC_TYPE] [int] NOT NULL,
	[SEC_DIR] [int] NOT NULL,
	[LAST_TECH_TIME] [datetime2](7) NULL,
	[SUB_VER] [char](4) NOT NULL,
	[ADD_TIME] [datetime2](7) NULL,
	[ADD_USER] [char](10) NULL,
	[UPD_TIME] [datetime2](7) NULL,
	[UPD_USER] [char](10) NULL,
	[ADR1_CHG_SEC_ID_1] [char](5) NULL,
	[ADR1_CHG_SEC_COST_1] [int] NOT NULL,
	[ADR1_CHG_SEC_ID_2] [char](5) NULL,
	[ADR1_CHG_SEC_COST_2] [int] NOT NULL,
	[ADR1_CHG_SEC_ID_3] [char](5) NULL,
	[ADR1_CHG_SEC_COST_3] [int] NOT NULL,
	[ADR2_CHG_SEC_ID_1] [char](5) NULL,
	[ADR2_CHG_SEC_COST_1] [int] NOT NULL,
	[ADR2_CHG_SEC_ID_2] [char](5) NULL,
	[ADR2_CHG_SEC_COST_2] [int] NOT NULL,
	[ADR2_CHG_SEC_ID_3] [char](5) NULL,
	[ADR2_CHG_SEC_COST_3] [int] NOT NULL,
	[SEC_COST_From2To] [int] NOT NULL,
	[SEC_COST_To2From] [int] NOT NULL,
	[ISBANEND_From2To] [bit] NOT NULL,
	[ISBANEND_To2From] [bit] NOT NULL,
 CONSTRAINT [PK_ASECTION_1] PRIMARY KEY CLUSTERED 
(
	[SEC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ASECTION_CONTROL_100]    Script Date: 2019/9/29 上午 11:25:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ASECTION_CONTROL_100](
	[SEC_ID] [char](5) NOT NULL,
	[CHG_AREA_SECSOR_1] [int] NOT NULL,
	[CHG_AREA_SECSOR_2] [int] NOT NULL,
	[OBS_SENSOR_F] [int] NOT NULL,
	[OBS_SENSOR_R] [int] NOT NULL,
	[OBS_SENSOR_L] [int] NOT NULL,
	[RANGE_SENSOR_F] [int] NOT NULL,
	[IS_ADR_RPT] [bit] NOT NULL,
	[CAN_GUIDE_CHG] [bit] NOT NULL,
	[HID_CONTROL] [bit] NOT NULL,
	[BRANCH_FLAG] [bit] NOT NULL,
	[SUB_VER] [char](4) NOT NULL,
	[ADD_TIME] [datetime2](7) NULL,
	[ADD_USER] [char](10) NULL,
	[UPD_TIME] [datetime2](7) NULL,
	[UPD_USER] [char](10) NULL,
 CONSTRAINT [PK_ASECTION_CONTROL_100] PRIMARY KEY CLUSTERED 
(
	[SEC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ASEGMENT]    Script Date: 2019/9/29 上午 11:25:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ASEGMENT](
	[SEG_ID] [char](10) NOT NULL,
	[FROM_ADR_ID] [char](5) NOT NULL,
	[TO_ADR_ID] [char](5) NOT NULL,
	[STATUS] [int] NOT NULL,
	[SEG_TYPE] [int] NOT NULL,
	[SEG_RAIL_TYPE] [int] NOT NULL,
	[SPECIAL_MARK] [int] NULL,
	[RESERVE_FIELD] [char](40) NULL,
	[NOTE] [nchar](40) NULL,
	[DIR] [int] NOT NULL,
	[PRE_DISABLE_FLAG] [bit] NOT NULL,
	[PRE_DISABLE_TIME] [datetime2](7) NULL,
	[DISABLE_TIME] [datetime2](7) NULL,
	[ADR1_CHG_SEG_ID_1] [char](5) NULL,
	[ADR1_CHG_SEG_COST_1] [int] NOT NULL,
	[ADR1_CHG_SEG_ID_2] [char](5) NULL,
	[ADR1_CHG_SEG_COST_2] [int] NOT NULL,
	[ADR1_CHG_SEG_ID_3] [char](5) NULL,
	[ADR1_CHG_SEG_COST_3] [int] NOT NULL,
	[ADR2_CHG_SEG_ID_1] [char](5) NULL,
	[ADR2_CHG_SEG_COST_1] [int] NOT NULL,
	[ADR2_CHG_SEG_ID_2] [char](5) NULL,
	[ADR2_CHG_SEG_COST_2] [int] NOT NULL,
	[ADR2_CHG_SEG_ID_3] [char](5) NULL,
	[ADR2_CHG_SEG_COST_3] [int] NOT NULL,
	[SEC_COST_From2To] [int] NOT NULL,
	[SEC_COST_To2From] [int] NOT NULL,
	[ISBANEND_From2To] [bit] NOT NULL,
	[ISBANEND_To2From] [bit] NOT NULL,
 CONSTRAINT [PK_ASEGMENT] PRIMARY KEY CLUSTERED 
(
	[SEG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ASEQUENCE]    Script Date: 2019/9/29 上午 11:25:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ASEQUENCE](
	[SEQ_NAME] [char](15) NOT NULL,
	[NXT_VAL] [bigint] NOT NULL,
 CONSTRAINT [PK_ASEQUENCE] PRIMARY KEY CLUSTERED 
(
	[SEQ_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ASHEET]    Script Date: 2019/9/29 上午 11:25:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ASHEET](
	[SHT_ID] [char](20) NOT NULL,
	[JOB_NO] [char](5) NOT NULL,
	[LOT_ID] [char](20) NOT NULL,
	[PROD_ID] [char](20) NULL,
	[SHT_STAT] [char](1) NULL,
	[SOURCE_CST_ID] [char](20) NULL,
	[SOURCE_SLOT_NO] [int] NOT NULL,
	[SOURCE_PORT_NO] [int] NOT NULL,
	[TARGET_CST_ID] [char](20) NULL,
	[TARGET_SLOT_NO] [int] NOT NULL,
	[TARGET_PORT_NO] [int] NOT NULL,
	[PROC_FLAG] [char](8) NULL,
	[SHT_JUDGE] [char](1) NULL,
	[SHT_GRADE] [char](1) NULL,
	[PROC_INFO] [char](8) NULL,
	[PPID] [char](40) NULL,
	[CRATE_ID] [char](20) NULL,
	[TAKE_OUT_STAT] [char](1) NULL,
	[NODE_ID] [char](15) NULL,
	[CST_ID] [char](20) NULL,
	[SLOT_NO] [int] NOT NULL,
	[TAKE_OUT_TIME] [char](16) NULL,
	[SCRAP_CODE] [char](5) NULL,
	[REASON_CODE] [char](5) NULL,
 CONSTRAINT [PK_ASHEET] PRIMARY KEY CLUSTERED 
(
	[SHT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ASUB_VER]    Script Date: 2019/9/29 上午 11:25:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ASUB_VER](
	[MAIN_VER] [char](4) NOT NULL,
	[VER_TYPE] [int] NOT NULL,
	[SUB_VER] [char](4) NULL,
	[ADD_TIME] [datetime2](7) NULL,
	[ADD_USER] [char](10) NULL,
	[UPD_TIME] [datetime2](7) NULL,
	[UPD_USER] [char](10) NULL,
 CONSTRAINT [PK_ASUB_VER] PRIMARY KEY CLUSTERED 
(
	[MAIN_VER] ASC,
	[VER_TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ASYSEXCUTEQUALITY]    Script Date: 2019/9/29 上午 11:25:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ASYSEXCUTEQUALITY](
	[CMD_ID_MCS] [char](64) NOT NULL,
	[CMD_INSERT_TIME] [datetime2](7) NOT NULL,
	[CMD_START_TIME] [datetime2](7) NULL,
	[CMD_FINISH_TIME] [datetime2](7) NULL,
	[CMD_FINISH_STATUS] [int] NULL,
	[VH_ID] [char](5) NULL,
	[VH_START_SEC_ID] [char](5) NULL,
	[SOURCE_ADR] [char](64) NULL,
	[SEC_CNT_TO_SOURCE] [int] NOT NULL,
	[SEC_DIS_TO_SOURCE] [int] NOT NULL,
	[DESTINATION_ADR] [char](64) NULL,
	[SEC_CNT_TO_DESTN] [int] NOT NULL,
	[SEC_DIS_TO_DESTN] [int] NOT NULL,
	[CMDQUEUE_TIME] [float] NOT NULL,
	[MOVE_TO_SOURCE_TIME] [float] NOT NULL,
	[TOTAL_BLOCK_TIME_TO_SOURCE] [float] NOT NULL,
	[TOTAL_OCS_TIME_TO_SOURCE] [float] NOT NULL,
	[TOTAL_BLOCK_COUNT_TO_SOURCE] [int] NOT NULL,
	[TOTAL_OCS_COUNT_TO_SOURCE] [int] NOT NULL,
	[MOVE_TO_DESTN_TIME] [float] NOT NULL,
	[TOTAL_BLOCK_TIME_TO_DESTN] [float] NOT NULL,
	[TOTAL_OCS_TIME_TO_DESTN] [float] NOT NULL,
	[TOTAL_BLOCK_COUNT_TO_DESTN] [int] NOT NULL,
	[TOTAL_OCS_COUNT_TO_DESTN] [int] NOT NULL,
	[TOTALPAUSE_TIME] [float] NOT NULL,
	[CMD_TOTAL_EXCUTION_TIME] [float] NOT NULL,
	[TOTAL_ACT_VH_COUNT] [int] NOT NULL,
	[PARKING_VH_COUNT] [int] NOT NULL,
	[CYCLERUN_VH_COUNT] [int] NOT NULL,
	[TOTAL_IDLE_VH_COUNT] [int] NOT NULL,
 CONSTRAINT [PK_ASYSEXCUTEQUALITY] PRIMARY KEY CLUSTERED 
(
	[CMD_ID_MCS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ATRACEITEM]    Script Date: 2019/9/29 上午 11:25:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ATRACEITEM](
	[TRACE_ID] [char](2) NOT NULL,
	[SVID] [char](5) NOT NULL,
 CONSTRAINT [PK_ATRACEITEM] PRIMARY KEY CLUSTERED 
(
	[TRACE_ID] ASC,
	[SVID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ATRACESET]    Script Date: 2019/9/29 上午 11:25:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ATRACESET](
	[TRACE_ID] [char](2) NOT NULL,
	[SMP_PERIOD] [char](6) NULL,
	[SMP_PERIOD_SEC] [bigint] NOT NULL,
	[TOTAL_SMP_CNT] [int] NOT NULL,
	[SMP_CNT] [int] NOT NULL,
	[NX_SMP_TIME] [smalldatetime] NOT NULL,
	[SMP_TIME] [smalldatetime] NOT NULL,
 CONSTRAINT [PK_ATRACESET] PRIMARY KEY CLUSTERED 
(
	[TRACE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AUNIT]    Script Date: 2019/9/29 上午 11:25:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AUNIT](
	[UNIT_ID] [char](15) NOT NULL,
	[UNIT_NUM] [int] NOT NULL,
	[EQPT_ID] [char](15) NOT NULL,
	[UNIT_CATE] [char](1) NOT NULL,
	[EQPT_TYPE] [char](1) NOT NULL,
	[CAPACITY] [int] NOT NULL,
	[UNIT_STAT] [int] NOT NULL,
 CONSTRAINT [PK_AUNIT] PRIMARY KEY CLUSTERED 
(
	[UNIT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AVEHICLE]    Script Date: 2019/9/29 上午 11:25:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AVEHICLE](
	[VEHICLE_ID] [char](5) NOT NULL,
	[VEHICLE_TYPE] [int] NOT NULL,
	[CUR_SEG_ID] [char](5) NULL,
	[CUR_SEC_ID] [char](5) NULL,
	[CUR_ADR_ID] [char](5) NULL,
	[SEC_ENTRY_TIME] [datetime2](7) NULL,
	[ACC_SEC_DIST] [float] NOT NULL,
	[MODE_STATUS] [int] NOT NULL,
	[ACT_STATUS] [int] NOT NULL,
	[MCS_CMD] [char](64) NULL,
	[OHTC_CMD] [char](64) NULL,
	[BLOCK_PAUSE] [int] NOT NULL,
	[CMD_PAUSE] [int] NOT NULL,
	[OBS_PAUSE] [int] NOT NULL,
	[HID_PAUSE] [int] NOT NULL,
	[ERROR] [int] NOT NULL,
	[EARTHQUAKE_PAUSE] [int] NOT NULL,
	[SAFETY_DOOR_PAUSE] [int] NOT NULL,
	[OHXC_OBS_PAUSE] [int] NOT NULL,
	[OHXC_BLOCK_PAUSE] [int] NOT NULL,
	[OBS_DIST] [int] NOT NULL,
	[HAS_CST] [int] NOT NULL,
	[CST_ID] [char](64) NULL,
	[UPD_TIME] [datetime2](7) NULL,
	[VEHICLE_ACC_DIST] [int] NOT NULL,
	[MANT_ACC_DIST] [int] NOT NULL,
	[MANT_DATE] [datetime2](7) NULL,
	[GRIP_COUNT] [int] NOT NULL,
	[GRIP_MANT_COUNT] [int] NOT NULL,
	[GRIP_MANT_DATE] [datetime2](7) NULL,
	[NODE_ADR] [char](5) NULL,
	[IS_PARKING] [bit] NOT NULL,
	[PARK_TIME] [datetime2](7) NULL,
	[PARK_ADR_ID] [char](5) NULL,
	[IS_CYCLING] [bit] NOT NULL,
	[CYCLERUN_TIME] [datetime2](7) NULL,
	[CYCLERUN_ID] [char](10) NULL,
	[BATTERYCAPACITY] [int] NOT NULL,
	[LAST_FULLY_CHARGED_TIME] [datetime2](7) NULL,
	[STEERINGWHEELANGLE] [int] NOT NULL,
 CONSTRAINT [PK_AVEHICLE] PRIMARY KEY CLUSTERED 
(
	[VEHICLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AVEHICLE_CONTROL_100]    Script Date: 2019/9/29 上午 11:25:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AVEHICLE_CONTROL_100](
	[VEHICLE_ID] [char](5) NOT NULL,
	[GUIDE_START_STOP_SPEED] [int] NOT NULL,
	[GUIDE_MAX_SPD] [int] NOT NULL,
	[GUIDE_ACCEL_DECCEL_TIME] [int] NOT NULL,
	[GUIDE_S_CURVE_RATE] [int] NOT NULL,
	[GUIDE_RUN_SPD] [int] NOT NULL,
	[GUIDE_MANUAL_HIGH_SPD] [int] NOT NULL,
	[GUIDE_MANUAL_LOW_SPD] [int] NOT NULL,
	[GUIDE_LF_LOCK_POSITION] [int] NOT NULL,
	[GUIDE_LB_LOCK_POSITION] [int] NOT NULL,
	[GUIDE_RF_LOCK_POSITION] [int] NOT NULL,
	[GUIDE_RB_LOCK_POSITION] [int] NOT NULL,
	[GUIDE_CHG_STABLE_TIME] [int] NOT NULL,
	[TRAVEL_RESOLUTION] [int] NOT NULL,
	[TRAVEL_START_STOP_SPEED] [int] NOT NULL,
	[TRAVEL_MAX_SPD] [int] NOT NULL,
	[TRAVEL_ACCEL_DECCEL_TIME] [int] NOT NULL,
	[TRAVEL_S_CURVE_RATE] [int] NOT NULL,
	[TRAVEL_HOME_DIR] [int] NOT NULL,
	[TRAVEL_HOME_SPD] [int] NOT NULL,
	[TRAVEL_KEEP_DIS_SPD] [int] NOT NULL,
	[TRAVEL_MANUAL_HIGH_SPD] [int] NOT NULL,
	[TRAVEL_MANUAL_LOW_SPD] [int] NOT NULL,
	[TRAVEL_TEACHING_SPD] [int] NOT NULL,
	[TRAVEL_TRAVEL_DIR] [int] NOT NULL,
	[TRAVEL_ENCODER_POLARITY] [int] NOT NULL,
	[TRAVEL_F_DIR_LIMIT] [int] NOT NULL,
	[TRAVEL_R_DIR_LIMIT] [int] NOT NULL,
	[TRAVEL_OBS_DETECT_LONG] [int] NOT NULL,
	[TRAVEL_OBS_DETECT_SHORT] [int] NOT NULL,
	[SUB_VER] [char](4) NOT NULL,
	[ADD_TIME] [datetime2](7) NULL,
	[ADD_USER] [char](10) NULL,
	[UPD_TIME] [datetime2](7) NULL,
	[UPD_USER] [char](10) NULL,
 CONSTRAINT [PK_AVEHICLE_CONTROL_100] PRIMARY KEY CLUSTERED 
(
	[VEHICLE_ID] ASC,
	[SUB_VER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AVIDINFO]    Script Date: 2019/9/29 上午 11:25:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AVIDINFO](
	[EQ_ID] [char](5) NOT NULL,
	[MCS_CARRIER_ID] [char](64) NULL,
	[CARRIER_ID] [char](64) NULL,
	[CARRIER_LOC] [char](64) NULL,
	[CARRIER_INSTALLED_TIME] [datetime2](7) NULL,
	[COMMAND_ID] [char](64) NULL,
	[SOURCEPORT] [char](64) NULL,
	[DESTPORT] [char](64) NULL,
	[PRIORITY] [int] NOT NULL,
	[RESULT_CODE] [int] NOT NULL,
	[VEHICLE_STATE] [int] NOT NULL,
	[COMMAND_TYPE] [char](64) NULL,
	[ALARM_ID] [char](64) NULL,
	[ALARM_TEXT] [char](64) NULL,
	[UNIT_ID] [char](64) NULL,
	[PORT_ID] [char](64) NULL,
	[REPLACE] [int] NOT NULL,
 CONSTRAINT [PK_AVIDINFO] PRIMARY KEY CLUSTERED 
(
	[EQ_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AZONE]    Script Date: 2019/9/29 上午 11:25:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AZONE](
	[ZONE_ID] [char](15) NOT NULL,
	[LINE_ID] [char](15) NULL,
	[LOT_ID] [char](20) NULL,
 CONSTRAINT [PK_AZONE] PRIMARY KEY CLUSTERED 
(
	[ZONE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BCSTAT]    Script Date: 2019/9/29 上午 11:25:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BCSTAT](
	[BC_ID] [char](10) NOT NULL,
	[CLOSE_MODE] [char](1) NOT NULL,
	[RUN_TIMESTAMP] [char](16) NULL,
 CONSTRAINT [PK_BCSTAT] PRIMARY KEY CLUSTERED 
(
	[BC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BLOCKZONEQUEUE]    Script Date: 2019/9/29 上午 11:25:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BLOCKZONEQUEUE](
	[ENTRY_SEC_ID] [nchar](5) NOT NULL,
	[CAR_ID] [nchar](10) NOT NULL,
	[REQ_TIME] [datetime2](7) NOT NULL,
	[BLOCK_TIME] [datetime2](7) NULL,
	[THROU_TIME] [datetime2](7) NULL,
	[RELEASE_TIME] [datetime2](7) NULL,
	[STATUS] [char](1) NULL,
 CONSTRAINT [PK_BLOCKZONEQUEUE] PRIMARY KEY CLUSTERED 
(
	[CAR_ID] ASC,
	[ENTRY_SEC_ID] ASC,
	[REQ_TIME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONTROL_DATA]    Script Date: 2019/9/29 上午 11:25:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONTROL_DATA](
	[T1] [int] NOT NULL,
	[T2] [int] NOT NULL,
	[T3] [int] NOT NULL,
	[T4] [int] NOT NULL,
	[T5] [int] NOT NULL,
	[T6] [int] NOT NULL,
	[T7] [int] NOT NULL,
	[T8] [int] NOT NULL,
	[BLOCK_REQ_TIME_OUT] [int] NOT NULL,
	[SUB_VER] [char](4) NOT NULL,
	[ADD_TIME] [smalldatetime] NULL,
	[ADD_USER] [char](10) NULL,
	[UPD_TIME] [smalldatetime] NULL,
	[UPD_USER] [char](10) NULL,
 CONSTRAINT [PK_CONTROL_DATA] PRIMARY KEY CLUSTERED 
(
	[SUB_VER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HASHEET]    Script Date: 2019/9/29 上午 11:25:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HASHEET](
	[SEQ_NO] [nvarchar](255) NOT NULL,
	[T_STAMP] [char](19) NULL,
	[SHT_ID] [char](20) NULL,
	[JOB_NO] [char](5) NOT NULL,
	[LOT_ID] [char](20) NOT NULL,
	[PROD_ID] [char](20) NULL,
	[SHT_STAT] [char](1) NULL,
	[SOURCE_CST_ID] [char](20) NULL,
	[SOURCE_SLOT_NO] [int] NOT NULL,
	[SOURCE_PORT_NO] [int] NOT NULL,
	[TARGET_CST_ID] [char](20) NULL,
	[TARGET_SLOT_NO] [int] NOT NULL,
	[TARGET_PORT_NO] [int] NOT NULL,
	[PROC_FLAG] [char](8) NULL,
	[SHT_JUDGE] [char](1) NULL,
	[SHT_GRADE] [char](1) NULL,
	[PROC_INFO] [char](8) NULL,
	[PPID] [char](40) NULL,
	[CRATE_ID] [char](20) NULL,
	[TAKE_OUT_STAT] [char](1) NULL,
	[NODE_ID] [char](15) NULL,
	[CST_ID] [char](20) NULL,
	[SLOT_NO] [int] NOT NULL,
	[TAKE_OUT_TIME] [char](16) NULL,
	[SCRAP_CODE] [char](5) NULL,
	[REASON_CODE] [char](5) NULL,
 CONSTRAINT [PK_HASHEET] PRIMARY KEY CLUSTERED 
(
	[SEQ_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HCMD_MCS]    Script Date: 2019/9/29 上午 11:25:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HCMD_MCS](
	[CMD_ID] [char](64) NOT NULL,
	[CARRIER_ID] [char](40) NOT NULL,
	[TRANSFERSTATE] [int] NOT NULL,
	[COMMANDSTATE] [int] NOT NULL,
	[HOSTSOURCE] [char](64) NULL,
	[HOSTDESTINATION] [char](64) NOT NULL,
	[PRIORITY] [int] NOT NULL,
	[CHECKCODE] [char](2) NOT NULL,
	[PAUSEFLAG] [char](1) NOT NULL,
	[CMD_INSER_TIME] [datetime2](7) NOT NULL,
	[CMD_START_TIME] [datetime2](7) NULL,
	[CMD_FINISH_TIME] [datetime2](7) NULL,
	[TIME_PRIORITY] [int] NOT NULL,
	[PORT_PRIORITY] [int] NOT NULL,
	[REPLACE] [int] NOT NULL,
 CONSTRAINT [PK_HCMD_MCS] PRIMARY KEY CLUSTERED 
(
	[CMD_ID] ASC,
	[CMD_INSER_TIME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOPERATION]    Script Date: 2019/9/29 上午 11:25:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOPERATION](
	[SEQ_NO] [nvarchar](255) NOT NULL,
	[T_STAMP] [char](19) NULL,
	[USER_ID] [char](20) NULL,
	[FORM_NAME] [char](30) NULL,
	[ACTION] [varchar](max) NULL,
 CONSTRAINT [PK_HOPERATION] PRIMARY KEY CLUSTERED 
(
	[SEQ_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SCALE_BASE_DATA]    Script Date: 2019/9/29 上午 11:25:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SCALE_BASE_DATA](
	[RESOLUTION] [int] NOT NULL,
	[INPOSITION_AREA] [int] NOT NULL,
	[INPOSITION_STABLE_TIME] [int] NOT NULL,
	[TOTAL_SCALE_PULSE] [int] NOT NULL,
	[SCALE_OFFSET] [int] NOT NULL,
	[SCALE_RESE_DIST] [int] NOT NULL,
	[READ_DIR] [int] NOT NULL,
	[SUB_VER] [char](4) NOT NULL,
	[ADD_TIME] [smalldatetime] NULL,
	[ADD_USER] [char](10) NULL,
	[UPD_TIME] [smalldatetime] NULL,
	[UPD_USER] [char](10) NULL,
 CONSTRAINT [PK_SCALE_BASE_DATA] PRIMARY KEY CLUSTERED 
(
	[SUB_VER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UASFNC]    Script Date: 2019/9/29 上午 11:25:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UASFNC](
	[FUNC_CODE] [char](60) NOT NULL,
	[FUNC_NAME] [char](80) NULL,
 CONSTRAINT [PK_UASFNC] PRIMARY KEY CLUSTERED 
(
	[FUNC_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UASUFNC]    Script Date: 2019/9/29 上午 11:25:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UASUFNC](
	[USER_GRP] [char](20) NOT NULL,
	[FUNC_CODE] [char](60) NOT NULL,
 CONSTRAINT [PK_UASUFNC] PRIMARY KEY CLUSTERED 
(
	[USER_GRP] ASC,
	[FUNC_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UASUSR]    Script Date: 2019/9/29 上午 11:25:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UASUSR](
	[USER_ID] [char](20) NOT NULL,
	[PASSWD] [varchar](max) NULL,
	[BADGE_NUMBER] [char](80) NULL,
	[USER_NAME] [char](30) NULL,
	[DISABLE_FLG] [char](1) NULL,
	[POWER_USER_FLG] [char](1) NULL,
	[ADMIN_FLG] [char](1) NULL,
	[USER_GRP] [char](20) NULL,
 CONSTRAINT [PK_UASUSR] PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UASUSRGRP]    Script Date: 2019/9/29 上午 11:25:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UASUSRGRP](
	[USER_GRP] [char](20) NOT NULL,
 CONSTRAINT [PK_UASUSRGRP] PRIMARY KEY CLUSTERED 
(
	[USER_GRP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VSECTION_100]    Script Date: 2019/9/29 上午 11:25:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VSECTION_100](
	[SEC_ID] [char](5) NOT NULL,
	[SEC_ORDER_NUM] [int] NULL,
	[SEG_ORDER_NUM] [int] NOT NULL,
	[DIRC_DRIV] [int] NOT NULL,
	[DIRC_GUID] [int] NOT NULL,
	[SEG_NUM] [char](3) NULL,
	[FROM_ADR_ID] [char](5) NULL,
	[TO_ADR_ID] [char](5) NULL,
	[SEC_DIS] [float] NOT NULL,
	[SEC_SPD] [float] NULL,
	[DIS_FROM_ORIGIN] [int] NOT NULL,
	[CDOG_1] [int] NOT NULL,
	[CHG_SEG_NUM_1] [char](3) NULL,
	[CDOG_2] [int] NOT NULL,
	[CHG_SEG_NUM_2] [char](3) NULL,
	[PRE_BLO_REQ] [int] NOT NULL,
	[SEC_TYPE] [int] NOT NULL,
	[SEC_DIR] [int] NOT NULL,
	[PADDING] [int] NOT NULL,
	[ENB_CHG_G_AREA] [int] NOT NULL,
	[PRE_DIV] [int] NOT NULL,
	[PRE_ADD_REPR] [int] NOT NULL,
	[OBS_SENSOR] [int] NOT NULL,
	[SUB_VER] [char](4) NOT NULL,
	[ADD_TIME] [smalldatetime] NULL,
	[ADD_USER] [char](10) NULL,
	[UPD_TIME] [smalldatetime] NULL,
	[UPD_USER] [char](10) NULL,
	[START_BC1] [int] NOT NULL,
	[END_BC1] [int] NOT NULL,
	[START_BC2] [int] NOT NULL,
	[END_BC2] [int] NOT NULL,
	[START_BC3] [int] NOT NULL,
	[END_BC3] [int] NOT NULL,
	[CHG_AREA_SECSOR_1] [int] NOT NULL,
	[CHG_AREA_SECSOR_2] [int] NOT NULL,
	[OBS_SENSOR_F] [int] NOT NULL,
	[OBS_SENSOR_R] [int] NOT NULL,
	[OBS_SENSOR_L] [int] NOT NULL,
	[RANGE_SENSOR_F] [int] NOT NULL,
	[IS_ADR_RPT] [bit] NOT NULL,
	[CAN_GUIDE_CHG] [bit] NOT NULL,
	[HID_CONTROL] [bit] NOT NULL,
	[BRANCH_FLAG] [bit] NOT NULL,
	[AREA_SECSOR] [int] NULL,
	[LAST_TECH_TIME] [smalldatetime] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[AADDRESS] ([ADR_ID], [ADRTYPE], [SEC_ID], [DISTANCE], [P_LOCATION], [IS_DISPLAY], [ZOOM_LV], [PORT1_ID], [P1_LD_VH_TYPE], [P1_ULD_VH_TYPE], [PORT2_ID], [P2_LD_VH_TYPE], [P2_ULD_VH_TYPE], [NODE_ID], [ADR1_DIS], [ADR2_DIS]) VALUES (N'16011', 0, N'     ', 0, N'0         ', 0, 10, NULL, 0, 0, NULL, 0, 0, N'0    ', 0, 0)
GO
INSERT [dbo].[AADDRESS] ([ADR_ID], [ADRTYPE], [SEC_ID], [DISTANCE], [P_LOCATION], [IS_DISPLAY], [ZOOM_LV], [PORT1_ID], [P1_LD_VH_TYPE], [P1_ULD_VH_TYPE], [PORT2_ID], [P2_LD_VH_TYPE], [P2_ULD_VH_TYPE], [NODE_ID], [ADR1_DIS], [ADR2_DIS]) VALUES (N'16017', 0, N'     ', 0, N'0         ', 0, 10, NULL, 0, 0, NULL, 0, 0, N'0    ', 0, 0)
GO
INSERT [dbo].[AADDRESS] ([ADR_ID], [ADRTYPE], [SEC_ID], [DISTANCE], [P_LOCATION], [IS_DISPLAY], [ZOOM_LV], [PORT1_ID], [P1_LD_VH_TYPE], [P1_ULD_VH_TYPE], [PORT2_ID], [P2_LD_VH_TYPE], [P2_ULD_VH_TYPE], [NODE_ID], [ADR1_DIS], [ADR2_DIS]) VALUES (N'16018', 0, N'     ', 0, N'0         ', 0, 10, NULL, 0, 0, NULL, 0, 0, N'0    ', 0, 0)
GO
INSERT [dbo].[ABLOCKZONEDETAIL] ([ENTRY_SEC_ID], [SEC_ID]) VALUES (N'0011 ', N'0001 ')
GO
INSERT [dbo].[ABLOCKZONEDETAIL] ([ENTRY_SEC_ID], [SEC_ID]) VALUES (N'0012 ', N'0001 ')
GO
INSERT [dbo].[ABLOCKZONEDETAIL] ([ENTRY_SEC_ID], [SEC_ID]) VALUES (N'0011 ', N'0005 ')
GO
INSERT [dbo].[ABLOCKZONEMASTER] ([ENTRY_SEC_ID], [BLOCK_ZONE_TYPE], [LEAVE_ADR_ID_1], [LEAVE_ADR_ID_2]) VALUES (N'0001 ', 1, N'1012 ', N'1002 ')
GO
INSERT [dbo].[ABLOCKZONEMASTER] ([ENTRY_SEC_ID], [BLOCK_ZONE_TYPE], [LEAVE_ADR_ID_1], [LEAVE_ADR_ID_2]) VALUES (N'0005 ', 1, N'1002 ', N'1012 ')
GO
INSERT [dbo].[ABLOCKZONEMASTER] ([ENTRY_SEC_ID], [BLOCK_ZONE_TYPE], [LEAVE_ADR_ID_1], [LEAVE_ADR_ID_2]) VALUES (N'0011 ', 1, N'1012 ', N'1002 ')
GO
INSERT [dbo].[ACEID] ([CEID], [RPTID], [ORDER_NUM], [NAME], [UPD_TIME]) VALUES (N'001', N'0  ', 0, NULL, NULL)
GO
INSERT [dbo].[ACEID] ([CEID], [RPTID], [ORDER_NUM], [NAME], [UPD_TIME]) VALUES (N'002', N'0  ', 0, NULL, NULL)
GO
INSERT [dbo].[ACEID] ([CEID], [RPTID], [ORDER_NUM], [NAME], [UPD_TIME]) VALUES (N'003', N'0  ', 0, NULL, NULL)
GO
INSERT [dbo].[AEQPT] ([EQPT_ID], [NODE_ID], [CIM_MODE], [OPER_MODE], [INLINE_MODE], [EQPT_STAT], [EQPT_PROC_STAT], [CR_RECIPE], [MAX_SHT_CNT], [MIN_SHT_CNT], [ALARM_STAT], [WARN_STAT]) VALUES (N'AGV01          ', N'VH_LINE        ', N' ', N' ', N' ', N' ', N' ', NULL, 0, 0, NULL, NULL)
GO
INSERT [dbo].[AEQPT] ([EQPT_ID], [NODE_ID], [CIM_MODE], [OPER_MODE], [INLINE_MODE], [EQPT_STAT], [EQPT_PROC_STAT], [CR_RECIPE], [MAX_SHT_CNT], [MIN_SHT_CNT], [ALARM_STAT], [WARN_STAT]) VALUES (N'AGV02          ', N'VH_LINE        ', N' ', N' ', N' ', N' ', N' ', NULL, 0, 0, NULL, NULL)
GO
INSERT [dbo].[AEQPT] ([EQPT_ID], [NODE_ID], [CIM_MODE], [OPER_MODE], [INLINE_MODE], [EQPT_STAT], [EQPT_PROC_STAT], [CR_RECIPE], [MAX_SHT_CNT], [MIN_SHT_CNT], [ALARM_STAT], [WARN_STAT]) VALUES (N'AGV03          ', N'VH_LINE        ', N' ', N' ', N' ', N' ', N' ', NULL, 0, 0, NULL, NULL)
GO
INSERT [dbo].[AGROUPRAILS] ([SECTION_ID], [RAIL_ID], [RAIL_NO], [DIR]) VALUES (N'0011 ', N'0013 ', 1, 1)
GO
INSERT [dbo].[AGROUPRAILS] ([SECTION_ID], [RAIL_ID], [RAIL_NO], [DIR]) VALUES (N'0021 ', N'0001 ', 1, 1)
GO
INSERT [dbo].[AGROUPRAILS] ([SECTION_ID], [RAIL_ID], [RAIL_NO], [DIR]) VALUES (N'0031 ', N'0002 ', 1, 1)
GO
INSERT [dbo].[ALARM] ([EQPT_ID], [RPT_DATE_TIME], [ALAM_CODE], [ALAM_LVL], [ALAM_STAT], [ALAM_DESC], [CLEAR_DATE_TIME]) VALUES (N'AGV01          ', CAST(N'2019-07-31T11:30:44.3847751' AS DateTime2), N'00000     ', 2, 0, N'Alarm Happend                                                                   ', CAST(N'2019-07-31T11:54:43.0225173' AS DateTime2))
GO
INSERT [dbo].[ALARM] ([EQPT_ID], [RPT_DATE_TIME], [ALAM_CODE], [ALAM_LVL], [ALAM_STAT], [ALAM_DESC], [CLEAR_DATE_TIME]) VALUES (N'AGV01          ', CAST(N'2019-07-31T11:30:44.4037267' AS DateTime2), N'-999      ', 2, 0, N'Vehicle error999                                                                ', CAST(N'2019-07-31T11:54:42.9716621' AS DateTime2))
GO
INSERT [dbo].[ALARM] ([EQPT_ID], [RPT_DATE_TIME], [ALAM_CODE], [ALAM_LVL], [ALAM_STAT], [ALAM_DESC], [CLEAR_DATE_TIME]) VALUES (N'AGV01          ', CAST(N'2019-07-31T11:57:36.9202536' AS DateTime2), N'00000     ', 2, 0, N'Alarm Happend                                                                   ', CAST(N'2019-07-31T12:02:14.4328858' AS DateTime2))
GO
INSERT [dbo].[ALINE] ([LINE_ID], [HOST_MODE], [LINE_STAT]) VALUES (N'AAAGV800       ', 0, 0)
GO
INSERT [dbo].[ANODE] ([NODE_ID], [ZONE_ID]) VALUES (N'AGV_NODE       ', N'AGV_ZONE       ')
GO
INSERT [dbo].[ANODE] ([NODE_ID], [ZONE_ID]) VALUES (N'EQ_NODE        ', N'AGV_ZONE       ')
GO
INSERT [dbo].[ANODE] ([NODE_ID], [ZONE_ID]) VALUES (N'MTL_NODE       ', N'OHS_ZONE       ')
GO
INSERT [dbo].[APARKZONEDETAIL] ([PARK_ZONE_ID], [ADR_ID], [PRIO], [CAR_ID]) VALUES (N'PARK001   ', N'1006 ', 1, N'     ')
GO
INSERT [dbo].[APARKZONEDETAIL] ([PARK_ZONE_ID], [ADR_ID], [PRIO], [CAR_ID]) VALUES (N'PARK002   ', N'1016 ', 1, N'     ')
GO
INSERT [dbo].[APARKZONEDETAIL] ([PARK_ZONE_ID], [ADR_ID], [PRIO], [CAR_ID]) VALUES (N'PARK003   ', N'1002 ', 1, N'     ')
GO
INSERT [dbo].[APARKZONEMASTER] ([PARK_TYPE_ID], [PARK_ZONE_ID], [VEHICLE_TYPE], [ENTRY_ADR_ID], [TOTAL_BORDER], [LOWER_BORDER], [PARK_TYPE], [IS_ACTIVE]) VALUES (N'PT001     ', N'PARK001   ', 1, N'1006 ', 1, 1, 1, 1)
GO
INSERT [dbo].[APARKZONEMASTER] ([PARK_TYPE_ID], [PARK_ZONE_ID], [VEHICLE_TYPE], [ENTRY_ADR_ID], [TOTAL_BORDER], [LOWER_BORDER], [PARK_TYPE], [IS_ACTIVE]) VALUES (N'PT001     ', N'PARK002   ', 1, N'1016 ', 1, 1, 1, 1)
GO
INSERT [dbo].[APARKZONEMASTER] ([PARK_TYPE_ID], [PARK_ZONE_ID], [VEHICLE_TYPE], [ENTRY_ADR_ID], [TOTAL_BORDER], [LOWER_BORDER], [PARK_TYPE], [IS_ACTIVE]) VALUES (N'PT001     ', N'PARK003   ', 1, N'1002 ', 1, 1, 1, 1)
GO
INSERT [dbo].[APARKZONETYPE] ([PARK_TYPE_ID], [PROD_ID], [TOTAL_BORDER], [IS_DEFAULT]) VALUES (N'PT001     ', N'PROD1     ', 1, 1)
GO
INSERT [dbo].[APOINT] ([POINT_ID], [ADR_ID], [RAIL_ID], [POINTTYPE], [LOCATIONX], [LOCATIONY], [HEIGHT], [WIDTH], [COLOR]) VALUES (N'16011', N'16011', NULL, 1, 1492, 445, 6, 6, N'FFDCDCDC  ')
GO
INSERT [dbo].[APOINT] ([POINT_ID], [ADR_ID], [RAIL_ID], [POINTTYPE], [LOCATIONX], [LOCATIONY], [HEIGHT], [WIDTH], [COLOR]) VALUES (N'16017', N'16017', NULL, 1, 312, 450, 6, 6, N'FFDCDCDC  ')
GO
INSERT [dbo].[APOINT] ([POINT_ID], [ADR_ID], [RAIL_ID], [POINTTYPE], [LOCATIONX], [LOCATIONY], [HEIGHT], [WIDTH], [COLOR]) VALUES (N'16018', N'16018', NULL, 1, 438, 268, 6, 6, N'FFDCDCDC  ')
GO
INSERT [dbo].[APORT_POSITION_TEACHING_DATA] ([PORT_ID], [VH_ID], [POSITION_OFFSET], [RESOLUTION], [SUB_VER], [ADD_TIME], [ADD_USER], [UPD_TIME], [UPD_USER]) VALUES (N'CVA-P1    ', N'OHx01     ', 0, 0, N'    ', NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[APORT_POSITION_TEACHING_DATA] ([PORT_ID], [VH_ID], [POSITION_OFFSET], [RESOLUTION], [SUB_VER], [ADD_TIME], [ADD_USER], [UPD_TIME], [UPD_USER]) VALUES (N'CVC-P1    ', N'OHx01     ', 0, 0, N'    ', NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[APORT_POSITION_TEACHING_DATA] ([PORT_ID], [VH_ID], [POSITION_OFFSET], [RESOLUTION], [SUB_VER], [ADD_TIME], [ADD_USER], [UPD_TIME], [UPD_USER]) VALUES (N'CVE-P1    ', N'OHx01     ', 0, 0, N'    ', NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[APORTSTATION] ([PORT_ID], [ADR_ID], [LD_VH_TYPE], [ULD_VH_TYPE], [PRIORITY], [PORT_TYPE], [PORT_STATUS], [PORT_DIR], [PORT_SERVICE_STATUS]) VALUES (N'AARGV050:AIN2  ', N'68007', 0, 0, 0, 1, 0, 0, 0)
GO
INSERT [dbo].[APORTSTATION] ([PORT_ID], [ADR_ID], [LD_VH_TYPE], [ULD_VH_TYPE], [PRIORITY], [PORT_TYPE], [PORT_STATUS], [PORT_DIR], [PORT_SERVICE_STATUS]) VALUES (N'AARGV050:AOUT2 ', N'76004', 0, 0, 0, 1, 0, 0, 0)
GO
INSERT [dbo].[APORTSTATION] ([PORT_ID], [ADR_ID], [LD_VH_TYPE], [ULD_VH_TYPE], [PRIORITY], [PORT_TYPE], [PORT_STATUS], [PORT_DIR], [PORT_SERVICE_STATUS]) VALUES (N'CALFT030:AIN1  ', N'52025', 0, 0, 0, 3, 3, 0, 0)
GO
INSERT [dbo].[ARAIL] ([RAIL_ID], [RAILTYPE], [LOCATIONX], [LOCATIONY], [WIDTH], [LENGTH], [COLOR]) VALUES (N'0001 ', 0, 313, 522, 10, 12600, N'FF0080FF  ')
GO
INSERT [dbo].[ARAIL] ([RAIL_ID], [RAILTYPE], [LOCATIONX], [LOCATIONY], [WIDTH], [LENGTH], [COLOR]) VALUES (N'0002 ', 0, 679, 522, 10, 9000, N'FF0080FF  ')
GO
INSERT [dbo].[ARAIL] ([RAIL_ID], [RAILTYPE], [LOCATIONX], [LOCATIONY], [WIDTH], [LENGTH], [COLOR]) VALUES (N'0003 ', 0, 940, 522, 10, 11030, N'FF0080FF  ')
GO
INSERT [dbo].[ARPTID] ([RPTID], [VID], [ORDER_NUM], [NAME], [UPD_TIME]) VALUES (N'0  ', N'64 ', 1, NULL, NULL)
GO
INSERT [dbo].[ARPTID] ([RPTID], [VID], [ORDER_NUM], [NAME], [UPD_TIME]) VALUES (N'1  ', N'69 ', 1, NULL, NULL)
GO
INSERT [dbo].[ARPTID] ([RPTID], [VID], [ORDER_NUM], [NAME], [UPD_TIME]) VALUES (N'10 ', N'54 ', 4, NULL, NULL)
GO
INSERT [dbo].[ASECTION_CONTROL_100] ([SEC_ID], [CHG_AREA_SECSOR_1], [CHG_AREA_SECSOR_2], [OBS_SENSOR_F], [OBS_SENSOR_R], [OBS_SENSOR_L], [RANGE_SENSOR_F], [IS_ADR_RPT], [CAN_GUIDE_CHG], [HID_CONTROL], [BRANCH_FLAG], [SUB_VER], [ADD_TIME], [ADD_USER], [UPD_TIME], [UPD_USER]) VALUES (N'0001 ', 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, N'    ', NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[ASECTION_CONTROL_100] ([SEC_ID], [CHG_AREA_SECSOR_1], [CHG_AREA_SECSOR_2], [OBS_SENSOR_F], [OBS_SENSOR_R], [OBS_SENSOR_L], [RANGE_SENSOR_F], [IS_ADR_RPT], [CAN_GUIDE_CHG], [HID_CONTROL], [BRANCH_FLAG], [SUB_VER], [ADD_TIME], [ADD_USER], [UPD_TIME], [UPD_USER]) VALUES (N'0002 ', 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, N'    ', NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[ASECTION_CONTROL_100] ([SEC_ID], [CHG_AREA_SECSOR_1], [CHG_AREA_SECSOR_2], [OBS_SENSOR_F], [OBS_SENSOR_R], [OBS_SENSOR_L], [RANGE_SENSOR_F], [IS_ADR_RPT], [CAN_GUIDE_CHG], [HID_CONTROL], [BRANCH_FLAG], [SUB_VER], [ADD_TIME], [ADD_USER], [UPD_TIME], [UPD_USER]) VALUES (N'0003 ', 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, N'    ', NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[ASEQUENCE] ([SEQ_NAME], [NXT_VAL]) VALUES (N'CMD_MANUAL_SEQ ', 1475)
GO
INSERT [dbo].[AUNIT] ([UNIT_ID], [UNIT_NUM], [EQPT_ID], [UNIT_CATE], [EQPT_TYPE], [CAPACITY], [UNIT_STAT]) VALUES (N'Charger1       ', 1, N'Charger        ', N'C', N'T', 1, 0)
GO
INSERT [dbo].[AUNIT] ([UNIT_ID], [UNIT_NUM], [EQPT_ID], [UNIT_CATE], [EQPT_TYPE], [CAPACITY], [UNIT_STAT]) VALUES (N'Charger2       ', 2, N'MCharger       ', N'C', N'T', 1, 0)
GO
INSERT [dbo].[AUNIT] ([UNIT_ID], [UNIT_NUM], [EQPT_ID], [UNIT_CATE], [EQPT_TYPE], [CAPACITY], [UNIT_STAT]) VALUES (N'Charger3       ', 3, N'MCharger       ', N'C', N'T', 1, 0)
GO
INSERT [dbo].[AZONE] ([ZONE_ID], [LINE_ID], [LOT_ID]) VALUES (N'AGV_ZONE       ', N'AGV_LINE       ', NULL)
GO
INSERT [dbo].[AZONE] ([ZONE_ID], [LINE_ID], [LOT_ID]) VALUES (N'OHS_ZONE       ', N'OHS_LINE       ', NULL)
GO
INSERT [dbo].[AZONE] ([ZONE_ID], [LINE_ID], [LOT_ID]) VALUES (N'VH_LINE        ', N'VH_LINE        ', NULL)
GO
INSERT [dbo].[CONTROL_DATA] ([T1], [T2], [T3], [T4], [T5], [T6], [T7], [T8], [BLOCK_REQ_TIME_OUT], [SUB_VER], [ADD_TIME], [ADD_USER], [UPD_TIME], [UPD_USER]) VALUES (30, 30, 30, 30, 30, 30, 30, 30, 13, N'    ', NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[SCALE_BASE_DATA] ([RESOLUTION], [INPOSITION_AREA], [INPOSITION_STABLE_TIME], [TOTAL_SCALE_PULSE], [SCALE_OFFSET], [SCALE_RESE_DIST], [READ_DIR], [SUB_VER], [ADD_TIME], [ADD_USER], [UPD_TIME], [UPD_USER]) VALUES (105, 20000, 20, 6000, 0, 200, 1, N'    ', NULL, NULL, NULL, NULL)
GO
ALTER TABLE [dbo].[ACMD_MCS] ADD  CONSTRAINT [DF_ACMD_MCS_REPLACE]  DEFAULT ((0)) FOR [REPLACE]
GO
ALTER TABLE [dbo].[ASECTION] ADD  CONSTRAINT [DF_ASECTION_SEC_SPD]  DEFAULT ((0)) FOR [SEC_SPD]
GO
ALTER TABLE [dbo].[ASEGMENT] ADD  CONSTRAINT [DF_ASEGMENT_FROM_ADR_ID]  DEFAULT ('') FOR [FROM_ADR_ID]
GO
ALTER TABLE [dbo].[ASEGMENT] ADD  CONSTRAINT [DF_ASEGMENT_TO_ADR_ID]  DEFAULT ('') FOR [TO_ADR_ID]
GO
ALTER TABLE [dbo].[ASEGMENT] ADD  CONSTRAINT [DF_ASEGMENT_SEC_RAIL_TYPE]  DEFAULT ((0)) FOR [SEG_RAIL_TYPE]
GO
ALTER TABLE [dbo].[ASEGMENT] ADD  CONSTRAINT [DF_ASEGMENT_ADR1_CHG_SEG_COST_2]  DEFAULT ((0)) FOR [ADR1_CHG_SEG_COST_2]
GO
ALTER TABLE [dbo].[ASEGMENT] ADD  CONSTRAINT [DF_ASEGMENT_ADR1_CHG_SEG_COST_3]  DEFAULT ((0)) FOR [ADR1_CHG_SEG_COST_3]
GO
ALTER TABLE [dbo].[ASEGMENT] ADD  CONSTRAINT [DF_ASEGMENT_ADR2_CHG_SEG_COST_1]  DEFAULT ((0)) FOR [ADR2_CHG_SEG_COST_1]
GO
ALTER TABLE [dbo].[ASEGMENT] ADD  CONSTRAINT [DF_ASEGMENT_ADR2_CHG_SEG_COST_2]  DEFAULT ((0)) FOR [ADR2_CHG_SEG_COST_2]
GO
ALTER TABLE [dbo].[ASEGMENT] ADD  CONSTRAINT [DF_ASEGMENT_ADR2_CHG_SEG_COST_3]  DEFAULT ((0)) FOR [ADR2_CHG_SEG_COST_3]
GO
ALTER TABLE [dbo].[AVEHICLE] ADD  CONSTRAINT [DF_AVEHICLE_BATTERYCAPACITY]  DEFAULT ((0)) FOR [BATTERYCAPACITY]
GO
ALTER TABLE [dbo].[AVEHICLE] ADD  CONSTRAINT [DF_AVEHICLE_STEERINGWHEELANGLE]  DEFAULT ((0)) FOR [STEERINGWHEELANGLE]
GO
ALTER TABLE [dbo].[AVIDINFO] ADD  CONSTRAINT [DF_AVIDINFO_REPLACE]  DEFAULT ((0)) FOR [REPLACE]
GO
